<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Book Now</h1></center>
    <h2> Title :{{movie.name}}</h2>
    <img height="250px" src="{{movie.image.url}}" alt="">
    <h2>Language : {{movie.language}}</h2>
    <h2>Duration : {{movie.duration}}</h2>

    <h1>Available Shows</h1>
    {% for i in shows %}
    <h2>Theatre: {{i.theatre.name}}</h2>
    <h2>Price: {{i.price}}</h2>
    <h2>Avaliable Seats: {{i.available_seats}}</h2>
    
    {% if i.available_seats > 0 %}
        <button>Book Now</button>
    {% else %}
        <button>Sold Out</button>
        {% endif %}
    {% empty %}
    <h2>No shows avaliable</h2>
    {% endfor %}

    <hr>
    <h1>User Reviews</h1>
    {% for i in reviews %}
        <p>{{i.user.username}}, ⭐ {{i.rating}}</p>
        <p>{{i.comment}}</p>

        {% empty %}
        <p>No reviews</p>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}

        <textarea name="comment" placeholder="Enter your review" required></textarea> <br>

        <select name="rating" required>
            <option value="">Select Rating</option>
            <option value="5">5 : Excellent</option>
            <option value="4">4: Good</option>
            <option value="3">3 : Average</option>
            <option value="2">2 : Bad</option>
            <option value="1">1 : Worst</option>
        </select>
        <button>POST</button>    
    </form>
</body>
</html>